<link rel="stylesheet" href="../styles/main.css">
<div class='large-text'>Login</div>
<div class='text'>
	<form action="/formstep1" method="post">
		User Name: <input type="text" name="user_name"><br>
		Email: <input type="text" name="email"><br>
		<input type="submit" value="Enter">
	</form>
</div>